/*App */

/*home */

.text-title{
  display: flex;
  justify-content: center;
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*MenuHeader*/
.menu{
  width: 100%;
  display: flex;
  justify-content: center; 
}
.InvoicePage,.home{
  margin-left:25px;
}

/* login */
.log_title{
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top:150px;
}

/* form css*/
.form_submit{
  margin:15px;
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  justify-content: center;
  margin:5px;
}
.form_centralize{
  margin:5px;
  display: flex;
  justify-content: center;
}
.content_form{
  min-width: 283px;
  box-shadow: 5px 5px grey;
  border: solid black 2px;
  border-radius: 5px;
  padding-left: 150px ;
  padding-right: 150px;
  padding:15px;
}
.Form_box{ 
  height: fit-content;
  display: flex;
  justify-content: center;

}

/*User page*/
.codeImportant
{
  height: -15px;
  color: red;
}   
.toUserP{
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 12px;
}
.toUserP,.toUserP:visited:active{
  color: black;
}
.toUserP:hover{
  color: darkblue;
}

/* generals */
.input{
  max-width: 180px;
  max-height: 25px;
  border-radius: 5px;
}
.Centralize{
  display: flex;
  justify-content: center;
}
.space{
  margin-top: 100px;
}
.button{
  margin: 10px !important;
}
