/*App */

/*home */

.text-title{
  display: flex;
  justify-content: center;
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*MenuHeader*/
.menu{
  width: 100%;
  display: flex;
  justify-content: center; 
}
.InvoicePage,.home{
  margin-left:25px;
}

/* login */
.log_title{
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top:150px;
}

/* form */
.form_submit{
  margin:15px;
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  justify-content: center;
  margin:5px;
}
.form_centralize{
  margin:5px;
  display: flex;
  justify-content: center;
}
.content_form{
  min-width: 283px;
  box-shadow: 5px 5px grey;
  border: solid black 2px;
  border-radius: 5px;
  padding-left: 150px ;
  padding-right: 150px;
  padding:15px;
}
.form_box{ 
  height: fit-content;
  display: flex;
  justify-content: center;
}

/*User page*/
.codeImportant
{
  height: -15px;
  color: red;
}   
.toUserP{
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 12px;
}
.toUserP,.toUserP:visited:active{
  color: black;
}
.toUserP:hover{
  color: darkblue;
}

/* generals */
.input{
  max-width: 180px;
  max-height: 25px;
  border-radius: 5px;
}
.Centralize{
  display: flex;
  justify-content: center;
}
.space{
  margin-top: 100px;
}
.button{
  margin: 10px !important;
}
.title_gen{
  text-decoration: underline;
}
.utility-box
{
  margin: 5px;
  display: flex;
  justify-content: center;
}
.text
{
  display: flex;
  justify-content: center;
}
.lineblock{
  width: 100%;
  display: inline-block;
}
.button-right{
  margin: 10px !important;
  float: right;
}

/* Forgot pass */
.forgotPass{
  margin-top: 12px;
  margin-bottom: 12px;  
}

/* Modal */

.modal-box{
  box-shadow: 5px 5px grey;
  
}
.modal-box, .overlay {

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  
}

.overlay {
  background: rgba(49,49,49,0.5);
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.update-content {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-height: 458px;
  min-width: 300px;
}


/*Money*/
.Spend{
  height: 20px ;
  width: 158px ;
}

.boxer{
  padding-left: 25px ;
  max-height: 220px;
  border-radius: 5px;
  overflow: scroll;
  border: solid black 2px;
  box-shadow: 5px 5px grey;
  margin-left: 20%;
  width: 800px;
}
.namer
{
  justify-content: center;
  display: flex;
}
.money_box{
  width: 100%;

}
.contM
{
  padding-bottom:25px ;
} 

.spendBox-header{

  justify-content: center;
  margin-top: 30px;
  
}

.conv
{
  display: flex;
  margin: 2px;
  justify-content: center;
}
.Spend,.Date, .delete,.edit,.image
{
  box-shadow: 2px 2px grey;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  height: 30px !important;
}

.grade
{
  width: 262px;
  max-height: 60px; 
}

.Spend
{
  margin-right: 50px !important;
}
.Date
{
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.buttons
{
  display: flex; 
}
.addSpend,.refresh,.button,.button-right
{

  box-shadow: 2px 2px grey;
  margin: 5px;
  border: solid black 2px;
  border-radius: 5px;
}

.read
{
  display: flex;
  justify-content: center;
}


.descriptionShow
{
  margin:10px;
  padding: 0 10px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  background-color: #f1f1f1;
  overflow: scroll;
}
.description 
{
  display: none;
  padding: 0 10px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  background-color: #f1f1f1;
}


.modalBox{
  box-shadow: 5px 5px grey;
  
}
.modalBox, .overlay {

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  
}

.overlay {
  background: rgba(49,49,49,0.5);
}

.update-content {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-height: 458px;
  min-width: 300px;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.spendedBank, .dateBank,.Spend,.Date
{
  margin: 5px;
  padding: 5px;
  border: solid gray 1px;
  border-radius:15px;
  box-shadow: 2px 2px gray !important;
}
.searcher
{
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.marker{
  padding: 5px;
  border: solid black 2px;
  border-radius: 3px;
}
.hoverMarker{
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.marker:hover .hoverMarker {
  visibility: visible;
}

/*home, money,*/
.InvoicePage,.home
{
  margin-left:25px;
}

.content
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*months*/
.montSpend
{
  overflow-y: scroll; 
  max-height: 250px;
  width: 100%;
  border: solid black 2px;
  margin:2px;
  border-radius: 5px;
  box-shadow: 5px 5px grey;
}
.bankContent
{
  margin: 56px;
  
}
.spendedBank, .dateBank
{
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

/*Add Spend Page*/
.content_addspend
{
  margin-top:150px;
  display: flex;
  justify-content: center;
}
.Spendbox
{
  margin: 5px;
  display: flex;
  justify-self: center;
  border-radius: 8px;
}
.submit_spend
{
  border-radius: 8px;
}
.Spend{
  height: 20px ;
  width: 158px ;
}

/*Graph*/
.graph{
  margin-left: 20px;
  max-height: 250px;
  max-width: 250px;
}